{% extends "layout.html" %}
{% block title %}
Features
{% endblock %}
{% block content %}

    <!-- features -->
    <div id="features">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Features</span>
                <hr class="right visible-desktop">
            </h2>
            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature1.jpg') }}" alt="feature1" class="thumb" />
                    <h3>
                        <i class="i_cloud"></i>Your designs. In the cloud.
                    </h3>
                    <p class="description">
                        Your designs can be exported in many formats (with many more to come).  With our helper classes you can just copy and paste and you are ready to go.  
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature2.jpg') }}" alt="feature2" class="thumb" />
                    <h3>
                        <i class="icon-pencil"></i>Write code. Or don't
                    </h3>
                    <p class="description">
                        Bisonkick will generate code for you. Nice clean code. You don't have to write a line of code. But you can write all the code you wish. We don't hold you to a specific SDK or template. You can do what you want with your code.
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature3.jpg') }}" alt="feature3" class="thumb" />
                    <h3>
                        <i class="i_movil"></i>Add joints, events, and more
                    </h3>
                    <p class="description">
                        Add squares, circles, and polygons. Connect them with all different joints. Use collision, keyboard, mouse or other events to make your game instantly playable by others. Add goals, and redirects for when a user hits that goal.  
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}