{% extends "layout.html" %}
{% block title %}
the amazing
{% endblock %}
{% block content %}
 <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInDown">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <!-- slide -->
                            <div class="active item slide1">
                                <div class="row">
                                    <div class="span6">
                                        <img src="{{ url_for('static',filename='img/slide1.png')}}" alt="slide1" />
                                    </div>
                                    <div class="span4">
                                        <h1>
                                            Export anywhere
                                        </h1>
                                        <p>
                                            Don't reinvent the wheel everytime.
                                            Bisonkick will export code so you can use your designs anywhere. 
                                        </p>
                                        <a href="/register/" class="btn btn-success btn-large">
                                            Sign Up For Free!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide2">
                                <div class="row">
                                    <div class="span4 animated fadeInUpBig">
                                        <h1>Bison will protect you.</h1>
                                        <p>
                                            With the powerful and mighty force of his kick, he will throw you into the future of game development. 
                                        </p>
                                        <a href="/app/" class="btn btn-success btn-large">
                                            Try It Now!
                                        </a>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="{{ url_for('static',filename='img/slide2.png') }}" alt="slide2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="intro">
        <div class="container">
            <h1>Games take a lot of time to make.<br />Ain't nobody got time for that.</h1>
        </div>
    </div>

    <!-- features -->
    <div id="features">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Features</span>
                <hr class="right visible-desktop">
            </h2>
            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature1.jpg') }}" alt="feature1" class="thumb" />
                    <h3>
                        <i class="i_cloud"></i>Your designs. In the cloud.
                    </h3>
                    <p class="description">
                        Your designs can be exported in many formats (with many more to come).  With our helper classes you can just copy and paste and you are ready to go.  
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature2.jpg') }}" alt="feature2" class="thumb" />
                    <h3>
                        <i class="icon-pencil"></i>Write code. Or don't
                    </h3>
                    <p class="description">
                        Bisonkick will generate code for you. Nice clean code. You don't have to write a line of code. But you can write all the code you wish. We don't hold you to a specific SDK or template. You can do what you want with your code.
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{ url_for('static',filename='img/feature3.jpg') }}" alt="feature3" class="thumb" />
                    <h3>
                        <i class="i_movil"></i>Add joints, events, and more
                    </h3>
                    <p class="description">
                        Add squares, circles, and polygons. Connect them with all different joints. Use collision, keyboard, mouse or other events to make your game instantly playable by others. Add goals, and redirects for when a user hits that goal.  
                    </p>
                </div>
            </div>
        </div>
    </div>

 <!-- starts pricing -->
    <div id="pricing" class="pricing_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>
                    Plans 
                    <small>
                        The simple details</small>
                </span>
                <hr class="right visible-desktop">
            </h2>

            <!-- pricing charts 1 -->
            <div class="row">
                <div class="span4">
                    <div class="price_wrapper lite regular">
                        <div class="header">
                            <span>Mini</span>
                            <div class="price">
                                <span>$ 2</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>5 private designs. Unlimited public designs.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs.
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud.
                                </li>
                            </ul>
                            <a href="/register/mini/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper pro">
                        <div class="header">
                            <span>Unlimited</span>
                            <div class="price">
                                <span>$ 9</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>Unlimited public and private designs.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Add your own sprites/images <em>(in beta)</em>
                                </li>
                                <li>
                                    <i class="i_bars"></i>
                                    Sprite editor <em>(in beta)</em>
                                </li>
                            </ul>
                            <a href="/register/unlimited/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper standard regular">
                        <div class="header">
                            <span>Pro</span>
                            <div class="price">
                                <span>$ 6</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>25 private designs</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Add your own sprites/images <em>(in beta)</em>
                                </li>
                            </ul>
                            <a href="/register/pro/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="free-plan">
                <span><a href="/register/free/" class="btn">Free Plan - $0 per month - Unlimited public designs. 0 Private designs</a></span>
            </div>
            </div>
        </div>
    </div>

   <!-- starts testimonial -->
    <div id="testimonials">
        <div class="container">
            <div class="controls">
                <hr>
            </div>
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
                                Either write something worth reading or do something worth writing.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="{{ url_for('static',filename='img/bf.jpg') }}" alt="author" class="img-circle" />
                                <span class="name">Ben Franklin</span>
                                <span class="position">HTML Expert</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
