{% extends "layout.html" %}
{% block title %}
Welcomes You
{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aristo.css') }}">
{% endblock %}
{% block content %}

 <!-- starts pricing -->
    <div id="pricing" class="pricing_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>
                    Plans 
                    <small>
                        The simple details</small>
                </span>
                <hr class="right visible-desktop">
            </h2>

            <!-- pricing charts 1 -->
            <div class="row">
                <div class="span4">
                    <div class="price_wrapper lite regular">
                        <div class="header">
                            <span>Mini</span>
                            <div class="price">
                                <span>$ 2</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>5 private designs. Unlimited public designs.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs.
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud.
                                </li>
                            </ul>
                            <a href="/register/mini/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper pro">
                        <div class="header">
                            <span>Unlimited</span>
                            <div class="price">
                                <span>$ 9</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>Unlimited public and private designs.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Add your own sprites/images <em>(in beta)</em>
                                </li>
                                <li>
                                    <i class="i_bars"></i>
                                    Sprite editor <em>(in beta)</em>
                                </li>
                            </ul>
                            <a href="/register/unlimited/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="price_wrapper standard regular">
                        <div class="header">
                            <span>Pro</span>
                            <div class="price">
                                <span>$ 6</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>50 private designs</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Export designs
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Save on our cloud
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Add your own sprites/images <em>(in beta)</em>
                                </li>
                            </ul>
                            <a href="/register/pro/" class="btn">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="free-plan">
                <span><a href="/register/free/" class="btn">Free Plan - $0 per month - Unlimited public designs. 0 Private designs</a></span>
            </div>
            </div>
        </div>
    </div>

{% endblock %}