{% extends "layout.html" %}
{% block title %}
Welcomes You
{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aristo.css') }}">
{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="span6 offset3 card">
		<h2>Roadmap</h2>
		<ul>
			<li>
				<h3>Grouping</h3>
				<p>You will be able to group shapes together and they will act as one. You can already group in the editor but it has no effect on the physics simulation.<br /><strong>Status:</strong> <em class='text-success'>Currently coding...</em></p>
			</li>
			<li>
				<h3>Box2d Ready</h3>
				<p>This includes setting properties for box2d instead of Nape. You will have a choice between those two physics engines.<br /><strong>Status:</strong> <em class='text-success'>Currently coding...</em></p></p>
			</li>
			<li>
				<h3>Javascript Rendering</h3>
				<p>You will be able to press play and see a box2dweb simulation in javascript.<br /><strong>Status:</strong> <em class='text-success'>Currently coding...</em></p>
			</li>
			<li>
				<h3>Joints Placement</h3>
				<p>You will be able to place joints at all corners of the shape.<br /><strong>Status:</strong> <em class='text-success'>Currently coding...</em></p>
			</li>	
			<li>
				<h3>Sprite Graphics</h3>
				<p>This is done through an external app so your graphics never get loaded online. The external app connects to the online app and places your graphics on the screen. This replaces the debug drawing.<br /><strong>Status:</strong> <em class='text-warning'>Proposed...</em></p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}