body{
	margin-top: 2px;
	background-color: #f0f0f0;
	background-image: url('/static/img/wood.png');
	font-family: 'Montserrat', sans-serif;
}

.card-image{
	width: 197px;
	text-align: center;
}

.card-home{
	text-align: center;
}

.start-button{
	text-align: center;
}

div.card.banner2 {
	text-align: center;
}

.card{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	padding: 10px;
	margin-bottom: 20px;
}

.payment-errors{
	color: red;
}

.plan-desc{
	min-width:100px; width: auto !important; width: 100px;
}

.per-month{
	margin-right: 20px
}

.design-title{
	height: 70px;
}

.card.design img.preview{
	width: 86px;
	height: 54px;
}

.footer{
	text-align: center;
}

.design{
	height:175px;
	margin-right: 20px;
}

#signin{
	margin-bottom: 20px;
	margin-top: 20px;
}

.row-fluid{
	margin-top:20px;
}

b.rating{
	color: #bbbbbb;
	font-style: normal;
	font-weight: bold;
	padding-left: 3px;
}

.private{
	color:#bbbbbb;
	margin-top: 20px;
}

.modal-body {
    max-height: 800px;
}

