{% extends "layout.html" %}
{% block title %}
Will Log You In
{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/toggles.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/toggles-modern.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/external-pages.css') }}" />
{% endblock %}
{% block content %}

 <!-- portfolio -->
    <div id="portfolio" class="portfolio_page">
        <div class="container">
              <!-- header -->
              <h2 class="section_header left">
                  <span>
                      Designs
                  </span>
                  <hr class="right visible-desktop">
              </h2>

              <!-- list -->
              <div class="row cols4">
                  <div class="span12">
                      <ul class="thumbnails">
                        {% if designs.count() %}
                          {% for design in designs %}
                        <li class="span3">
                          <div class="thumbnail">
                            <div class="pic">
                              <a href="/app/{{ design.id }}">
                                <img class="pic" src="data:image/png;base64,{{ design.ss }}" alt="preview">
                                <img class="see_more" src="{{ url_for('static',filename='img/thumb_more.png') }}" />
                              </a>
                            </div>
                            <h3>{{ design.name|truncate(20) }}</h3>
                            <div class="private">Private:
            <div class="toggle on {% if not design.social %}active{% endif %} toggle-modern" data-design="{{ design.id }}"></div>
          <a class="trash" href="#" data-id="{{ design.id }}"><img src="{{ url_for('static', filename='img/trash.png') }}"></a>
          </div>
                          </div>
                        </li>
                          {% endfor %}
                        {% else %}
                        <li class="span3">
                          <div class="thumbnail">
                            <div class="pic">
                              <a href="/app/">
                                <img class="pic" src="{{ url_for('static',filename='img/nodesign.png') }}" alt="preview">
                                <img class="see_more" src="{{ url_for('static',filename='img/thumb_more.png') }}" />
                              </a>
                            </div>
                            <h3>New Design</h3>
                            <p>You don't have any designs yet. Get started</p>
                            <p><a href="/app/" class="btn">Start!</a></p>
                          </div>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
              </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/toggles.min.js') }}"></script>
<script type="text/javascript">
$(function(){
  $('.toggle').each(function(){
    if($(this).hasClass('active')){
      $(this).toggles({drag:false,on:true});  
    }else{
      $(this).toggles({drag:false});
    }
  });

  $(".trash").click(function(e){
    e.preventDefault();
    var id = $(this).attr('data-id');
    var that = $(this);
    $.ajax({
        type: "POST",
        url: "/designs/delete/" + id + "/"
      }).done(function(data){
      if(data.status == 'success'){
        that.parent().remove();
        location.reload(true);
        return;
      }
    });
  });

  $('.toggle').on('toggle', function (e, active) {
      var ind = $('.toggle').index(this);
      var design = $(this).attr('data-design');
      
      $.ajax({
        type: "POST",
        url: "/service/designs/social/",
        data: { design:design, social:!active }
      }).done(function(data){
      if(data.status == 'success'){
        return;
      }else if(data.status == 'failure'){
        $('.toggle').eq(ind).toggles({drag:false,on:false});
        alert('Maximum number of private designs. Upgrade?')
      }
    });
  });
})
</script>
{% endblock %}