{% macro render_field(field) %}
{% if field.type == "BooleanField" %}  
  {{ field(**kwargs)|safe }}
  <label>{{ field.label }}</label>
  {% if field.errors %}
    {% for error in field.errors %}
        <p class="text-error">{{ error }}</p>
      {% endfor %}
  {% endif %}
{% else %}

  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
        <p class="text-error">{{ error }}</p>
    {% endfor %}
  {% endif %}
{% endif %}
{% endmacro %}

{% macro render_ajax_field(field,error_ajax) %}
<div class="clearfix">
{{ field.label }}
<div class="input"> 
  {{ field(**kwargs)|safe }}
      <span class="help-block" style="display:none">
        <p class="text-error"><span class='label label-danger {{ field.id }}-error'> {{ error_ajax }} </span></p>
      </span>
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">
        <p class="text-error"><span class='label label-danger'>Oh!</span> {{ error }}</p>
      </span>
    {% endfor %}
  {% endif %}
</div>
</div>
{% endmacro %}