<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bisonkick {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    {% block extra_style %}{% endblock %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40601553-1', 'bisonkick.com');
    ga('send', 'pageview');

    </script>
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <a href="#" class="scrolltop">
        <span>up</span>
    </a>
    {% block nav -%}
    <!-- Navbar
    ================================================== -->
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand scroller" {% if request.endpoint == 'main.home' %}data-section="body"{% endif %} href="/" />
                <img src="{{ url_for('static',filename='img/logo.png')}}" alt="logo" />
            </a>
          
        <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  {% if request.endpoint == 'main.home' %}
                    <li><a href="#" class="scroller" data-section="#features">Features</a></li>
                    <li><a href="#" class="scroller" data-section="#pricing">Plans</a></li>
                    <li><a href="#" class="scroller" data-section="#footer">Contact us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            More
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if not g.user.is_anonymous() %}
                            <li><a href="/designs/">Designs</a></li>
                            <li><a href="/upgrade/">Upgrade</a></li>
                            <li><a href="/settings/">Settings</a></li>
                            {% endif %}
                            <li><a href="/roadmap/">Road Map</a></li>
                            <li><a href="/resources/">Resources</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/features/" class="scroller">Features</a></li>
                    <li><a href="/plans/" class="scroller">Plans</a></li>
                    <li><a href="#" class="scroller" data-section="#footer">Contact us</a></li>
                      {% if not g.user.is_anonymous() %}
                        <li><a href="/designs/">Designs</a></li>
                        <li><a href="/upgrade/">Upgrade</a></li>
                      {% endif %}
                    <li><a href="/roadmap/">Road Map</a></li>
                    <li><a href="/resources/">Resources</a></li>
                    {% endif %}
                    {% if g.user.is_anonymous() %}
                    <li>
                        <a class="btn-header" href="/register/">Sign up</a>
                    </li>
                    <li>
                      <a class="btn-header" href="/login/">Sign in</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="btn-header" href="/settings/">{{ g.user.email }}</a>
                    </li>
                    <li>
                      <a class="btn-header" href="/logout/">Logout</a>
                    </li>
                    {% endif %}
                </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- ends navbar -->
    {%- endblock %}
   
   {% block content %}
   {% endblock %}

    <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="blog_post">
                        <div class="row">
                            <div class="span2">
                                <a href="blog.html">
                                    <img id="tweet-img" src="{{ url_for('static', filename='img/bk200.png') }}" alt="post image" class="img-circle" />
                                </a>
                            </div>
                            <div class="span4">
                                <a href="blog.html" class="title">
                                    The Bison has tweeted
                                </a>
                                <div class="intro" id="latest-tweet">
                                    There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
                                </div>
                                <div class="date" id="tweet-date">
                                    Oct 22. 2012
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact_us">
                    <h3><a href="mailto:bisonkick@gmail.com?subject=Bisonkick">Contact Us</a> </h3>
                    <!-- <form class="form-horizontal" type="POST" action="/contact/">
                        <div class="field">
                            <div class="label_field">
                                <label for="inputName">Name</label>
                            </div>
                            <input type="text" id="inputName" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputEmail">Email</label>
                            </div>
                            <input type="text" id="inputEmail" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputCity">City</label>
                            </div>
                            <input type="text" id="inputCity" />
                        </div>

                        <div class="field">
                            <div class="label_field">
                                <label for="inputComment">Comments</label>
                            </div>
                            <textarea name="comments"></textarea>
                        </div>
                        <button type="submit" class="btn">Send</button>
                    </form> -->
                </div>
            </div>
            <hr>
            <div class="row copyright">
                <div class="span5">
                    <h3>Social</h3>
                    <a href="https://www.facebook.com/pages/Bisonkick/605188499492049" class="social fb">
                        <i class="i_facebook"></i>
                    </a>
                    <a href="https://twitter.com/bisonkick" class="social tw">
                        <i class="i_twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/user/TheDarmanski" class="social yt">
                        <i class="i_youtube"></i>
                    </a>
                </div>
                <div class="span2 offset5 copy">
                    <p>&copy;2013 - Jacob Schatz</p>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>
    <script type="text/javascript">
    $(function(){
      $.getJSON("https://api.twitter.com/1/statuses/user_timeline/bisonkick.json?count=1&include_rts=1&callback=?", function(data) {
        $("#latest-tweet").html(data[0].text);
        var isoDate = parseTwitterDate(data[0].created_at);
        $("#tweet-date").html(isoDate);
        console.log(data);
      });
    });
    function parseTwitterDate(text) {
      var newtext = text.replace(/(\+\S+) (.*)/, '$2 $1') 
      var date = new Date(Date.parse(text)).toLocaleDateString();
      var time = new Date(Date.parse(text)).toLocaleTimeString();
      return date +' • ' + time;
    }
    </script>
    {% block extra_js %}{% endblock %}
  </body>
</html>