{% extends "layout.html" %}
{% block title %}
Will Log You In
{% endblock %}
{% block extra_style %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}
{% block content %}
<div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Log in to your account</h4>
                        </div>
                        {% from "_formhelpers.html" import render_field %}
                        <div class="form">
                            <form method="post" action="/login/">
                                {{ form.hidden_tag() }}
                                {{ render_field(form.email,placeholder='Email') }}
                                {{ render_field(form.password,placeholder='Password') }}
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                    <div class="right">
                                        <a href="reset.html">Forgot password?</a>
                                    </div>
                                </div>
                                <input type="submit" class="btn" value="Sign in"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Don't have an account? <a href="/register/"> Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock content %}