{% extends "layout.html" %}
{% block title %}
Will Log You In
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block content %}
<div id="box_sign">
    <div class="container">
        <div class="span12 box_wrapper">
            <div class="span12 box">
                <div>
                    <div class="head">
                        <h4>Create your account</h4>
                    </div>
                    <div class="form">
                        {% from "_formhelpers.html" import render_field %}
                    <form id="registration-form" method="post" action="/register/">
                      {{ form.hidden_tag() }}
                    <h2>Register</h2>
                      {{ render_field(form.email,placeholder='Email') }}
                      {{ render_field(form.password,placeholder='Password') }}
                      {{ render_field(form.confirm,placeholder='Confirm Password') }}
                      {{ render_field(form.plan) }}<p id="per-month">$0/mo</p><p><a href="/plans/">See the details</a></p>
                      <div id="card" style="display:none;">
                        <span class="payment-errors text-error"></span>
                        <input type="text" placeholder="Card Number" size="20" data-stripe="number"/>
                        <input type="text" placeholder="CVC" size="4" data-stripe="cvc"/>
                        <input type="text" size="2" placeholder="MM" data-stripe="exp-month"/>
                        <input type="text" placeholder="YYYY" size="4" data-stripe="exp-year"/>
                      </div>
                      <div class="remember">
                        <div class="left">
                            {{ render_field(form.accept_tos,class_="xlarge",size="30") }}
                        </div>
                        <div class="right">
                        </div>
                      </div>
                      <input type="submit" class="btn" value="Sign up"/>
                      </form>
                    </div>
                </div>
              </div>
              <p class="already">Already have an account? 
                <a href="/login/">Sign in</a></p>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('{{ pk }}');
jQuery(function($) {
{% if plan %}
var plan = '{{ plan }}'.toLowerCase();
{% else %}
var plan = 'free';
{% endif %}
  $("#plan").val(plan);
  $("#per-month").text = '$0/mo';
  if(plan != 'free'){
    $("#card").show('fast');
    setPlan(plan);
  }

  function setPlan(thisPlan){
    if(thisPlan == 'free') $("#per-month").text('$0/mo');
    else if(thisPlan == 'mini') $("#per-month").text('$2/mo');
    else if(thisPlan == 'pro') $("#per-month").text('$6/mo');
    else if(thisPlan == 'unlimited') $("#per-month").text('$9/mo');
  }

  $('#registration-form').submit(function(event) {
      var $form = $(this);
      if($("#plan").find(":selected").text().toLowerCase() == 'free'){
        $form.get(0).submit();
        return false;
      }
      
      $form.find('button').prop('disabled', true);
      Stripe.createToken($form, function(status,response){
        if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // and submit
         $form.get(0).submit();
        }
      });
      return false;
  });

  $("#plan").change(function(e){
    plan = $("#plan").find(":selected").text();
    setPlan(plan.toLowerCase());
    if(plan.toLowerCase() == 'free'){
      $("#card").hide('fast');
    }else{
      $("#card").show('fast');
    }
  })
});
</script>
{% endblock %}