{% extends "layout.html" %}
{% block title %}
Will Show Hook You Up
{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class='row-fluid'>
    <div class="span4 offset4 card" style="margin-top:10px;">
      <h3>{% if request.endpoint == 'users.upgrade' %}Upgrade your Plan{% else %}Settings{% endif %}</h3>
      {% from "_formhelpers.html" import render_field,render_ajax_field,steps %}
      <form id="plan-change-form" action="/settings/" method="POST">
        {{ render_ajax_field(form.name,class_="input-block-level") }}
          {{ form.hidden_tag() }}
          {% if not user.stripe_id %}
          <div id="card" style="display:none;">
            <span class="payment-errors"></span>
            <input type="text" class="input-block-level" placeholder="Card Number" size="20" data-stripe="number"/>
            <input type="text" class="input-block-level" placeholder="CVC" size="4" data-stripe="cvc"/>
            <div class="controls controls-row">
              <input type="text" maxlength="2" class="span2 input-block-level" size="2" placeholder="MM" data-stripe="exp-month"/>
              <input type="text" maxlength="4" class="span3 input-block-level" placeholder="YYYY" size="4" data-stripe="exp-year"/>
            </div>
          </div>
          {% endif %}
          <button type="submit" id="save-plan" class="btn">Save</button>
      </form>
    </div>
  </div>


  <div class='row-fluid'>
    <div class="span4 offset4 card">
      <div id="free-description" style="display:none;">
        <h2>Free</h2>
        <h4>$0/mo</h4>
        <p>The Free plan gives you unlimited open source designs.  All of your amazing designs can be played by other people.  But don't worry. Those other people cannot ovewrite your design.</p>
      </div>
      <div id="mini-description" style="display:none;">
        <h2>Mini</h2>
        <h4>$2/mo</h4>
        <p>The Mini plan gives you unlimited open source designs.  Just like the free plan.  With MINI you can save up to 5 private designs.</p>
      </div>
      <div id="pro-description" style="display:none;">
        <h2>Pro</h2>
        <h4>$6/mo</h4>
        <p>The Pro plan gives you unlimited open source designs.  Just like the free plan.  With PRO you can save up to 50 private designs.</p>
      </div>
      <div id="unlimited-description" style="display:none;">
        <h2>Unlimited</h2>
        <h4>$8/mo</h4>
        <p>The Unlimited plan gives you unlimited open source designs.  Just like the free plan.  With Unlimited you can have as many private designs as your little heart desires.  You probably don't have a little heart.  You probably have a very large heart. Hopefully not too large though.  That can be a serious medical condition.</p>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('{{ pk }}');
jQuery(function($) {
  var plan = '{{ plan.name }}';
  var usersPlan = '{{ user.plan.name }}'.toLowerCase();
  var chosenPlan = '{{ chosen_plan }}'.toLowerCase();
  var currentPlan = $("#" + plan.toLowerCase() + "-description");
  currentPlan.show();
  checkPlan();
{% if not user.stripe_id %}
  $('#plan-change-form').submit(function(event) {
    plan = $("#plan-change-form")
    .find(":selected")
    .text()
    .toLowerCase();

    if(plan == 'free'){
      return;
    }
      var $form = $(this);
      $form.find('button').prop('disabled', true);
      Stripe.createToken($form, function(status,response){
        if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // and submit
         $form.get(0).submit();
        }
      });
      return false;
  });
{% endif %}

function checkPlan(){
    plan = $("#plan-change-form").find(":selected").text();
    if(plan.toLowerCase() == 'free'){
      $("#card").hide('fast');
    }else{
      $("#card").show('fast');  
    }
    if(plan.toLowerCase() == usersPlan){
      $("#save-plan").attr("disabled", "disabled");
    }else{
      $("#save-plan").removeAttr("disabled");    
    }
}
  $("#name").change(function(e){
    checkPlan();
    currentPlan.hide();
    currentPlan = $("#" + plan.toLowerCase() + "-description");
    currentPlan.show();
  })
});
</script>
{% endblock %}